.occassion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}
.left h1{
    color: rgb(41, 62, 41);
}
.left h4{
    color: red;
    font-size: 20px;
    font-family: 'Lobster', sans-serif;

}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
    background: rgb(246, 246, 246);
    height: 400px;
    width: 90%;
    border-radius: 20px;
    

}
.right-card{
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 60px 60px 0px 0px;
    background: white;
}
.right-card img{
    height: 100%;
    width: 100%;
    border-radius: 60px 60px 0px 0px;
}
.right-card h1{
    font-size: 30px;
    font-weight: 200;
}

@media screen and (max-width: 480px){
    .occassion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
    
        
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    }
    .left h1{
        font-size: 22px;
      
        color: rgb(41, 62, 41);
    }
    .left h4{
        color: red;
        font-size: 15px;
        font-family: 'Lobster', sans-serif;
    
    }
    .right{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 40px;
        background: rgb(246, 246, 246);
        height: 400px;
        width:350px;
        padding: 10px;
        border-radius: 20px;
        
    
    }
    .right-card{
        height: 180px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        border-radius: 30px 30px 0px 0px;
        background: white;
    }
    .right-card img{
        height: 100%;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
    }
    .right-card h1{
        font-size: 20px;
        font-weight: 200;
    }
}